* { 
    background-color: azure;
}
tr, td {
    padding: 15px;
    margin: 15px;
    background-color: white;
}
table {
    vertical-align: middle;
    padding: 15px;
    margin: 15px;
    background-color: rgba(229, 226, 226, 0.719);
}
a:hover {
    color:rgb(133, 220, 231);
}
form {
    margin:15px;
    padding:15px;
}
input#submit {
    margin:10px;
    padding:10px;
    text-align: center;
    position:absolute;
    left:80px;
    
}
hr{
    size:8;
    width: 90%; 
    height: 2px; 
    float:left;
    background-color: black;
    border-color:black;
}